name: Build IDM Console Framework

on: [push, pull_request]

env:
  COPR_REPO: ${{ vars.COPR_REPO || '@pki/master' }}

jobs:
  init:
    name: Initialization
    uses: ./.github/workflows/init.yml
    secrets: inherit

  build:
    name: Building IDM Console Framework
    needs: init
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        id: cache-buildx
        uses: actions/cache@v3
        with:
          key: buildx-${{ hashFiles('idm-console-framework.spec') }}
          path: /tmp/.buildx-cache

      - name: Build idm-console-framework-deps image
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args: |
            BASE_IMAGE=${{ needs.init.outputs.base-image }}
            COPR_REPO=${{ env.COPR_REPO }}
          tags: idm-console-framework-deps
          target: idm-console-framework-deps
          cache-to: type=local,dest=/tmp/.buildx-cache
        if: steps.cache-buildx.outputs.cache-hit != 'true'

      - name: Build idm-console-framework-builder-deps image
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args: |
            BASE_IMAGE=${{ needs.init.outputs.base-image }}
            COPR_REPO=${{ env.COPR_REPO }}
          tags: idm-console-framework-builder-deps
          target: idm-console-framework-builder-deps
          cache-to: type=local,dest=/tmp/.buildx-cache
        if: steps.cache-buildx.outputs.cache-hit != 'true'

      - name: Build idm-console-framework-builder image
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args: |
            BASE_IMAGE=${{ needs.init.outputs.base-image }}
            COPR_REPO=${{ env.COPR_REPO }}
          tags: idm-console-framework-builder
          target: idm-console-framework-builder
          cache-from: type=local,src=/tmp/.buildx-cache
          outputs: type=docker,dest=idm-console-framework-builder.tar

      - name: Store idm-console-framework-builder image
        uses: actions/cache@v3
        with:
          key: idm-console-framework-builder-${{ github.sha }}
          path: idm-console-framework-builder.tar

      - name: Build idm-console-framework-dist image
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args: |
            BASE_IMAGE=${{ needs.init.outputs.base-image }}
            COPR_REPO=${{ env.COPR_REPO }}
          tags: idm-console-framework-dist
          target: idm-console-framework-dist
          cache-from: type=local,src=/tmp/.buildx-cache
          outputs: type=docker,dest=idm-console-framework-dist.tar

      - name: Store idm-console-framework-dist image
        uses: actions/cache@v3
        with:
          key: idm-console-framework-dist-${{ github.sha }}
          path: idm-console-framework-dist.tar

      - name: Build idm-console-framework-runner image
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args: |
            BASE_IMAGE=${{ needs.init.outputs.base-image }}
            COPR_REPO=${{ env.COPR_REPO }}
          tags: idm-console-framework-runner
          target: idm-console-framework-runner
          cache-from: type=local,src=/tmp/.buildx-cache
          outputs: type=docker,dest=idm-console-framework-runner.tar

      - name: Store idm-console-framework-runner image
        uses: actions/cache@v3
        with:
          key: idm-console-framework-runner-${{ github.sha }}
          path: idm-console-framework-runner.tar
